In [4]:
# Different Ways of creating a DataFrame
import pandas as pd

In [5]:
# From a CSV file -- 
df = pd.read_csv("D:\\AI & ML\\Pandas\\Book2.csv")
df.head(2)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Unnamed: 11
0,2,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,3,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275

In [6]:
# From a normal excel datasheet [ .xlsx ] file -- 
df = pd.read_excel("D:\\AI & ML\\Pandas\\weather_data.xlsx","Sheet1")
df.head(2)

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny

In [7]:
# From a Python Dictionary.. 
data = {
    'day': ["Monday","Wednesday"],
    'event': ["Rain","Sunny"],
    'temperature':[25,40]
}
df = pd.DataFrame(data)
df

         day  event  temperature
0     Monday   Rain           25
1  Wednesday  Sunny           40

In [8]:
# From a Python Tuple list.. 
data = [
    ('Monday','Rain',25),
    ('Wednesday','Sunny',40)
]
df = pd.DataFrame(data,columns=['day','event','temperature'])
df

         day  event  temperature
0     Monday   Rain           25
1  Wednesday  Sunny           40

In [ ]:
# There are some other ways as well to create dataframe [ check them on pandas website] , but above are major ones..